html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'IBM Plex Sans', sans-serif;
  border-style: none;
}

button:focus {outline:0;}
button {
  cursor: pointer;
}


body{
 position: relative;
  display: flex;
  justify-content: center;
}

#root{
  position: absolute;
}
.row {
  display: flex;
  flex-direction: row;
}

.tile{
  height: 18px;
  width: 18px;
  background-color: rgb(87, 218, 241);
  /* border: 1px solid black; */
}
.green{
  background-color: green;
}
.sand{
  background-color: #EDC9AF;
}

.gravel{
  background-color: #565257
}

@media only screen and (max-width: 736px){
  #root{
    min-width: 100vw;
    min-width: 100vh;
  }
 .tile{
  height: 5px;
  width: 5px;
  background-color: teal;
  /* border: 1px solid black; */
}
}